<nav class="flex-ns justify-between items-center pa3 pl0-ns">
  <div class="flex-ns items-center">
    {{ range .Site.Menus.main }}
      {{ if .HasChildren }}
        <div class="nav-dropdown relative dib">
          <a href="{{ .URL }}" class="link db pv2 ph3 no-underline dark-gray hover-mid-gray">
            {{ .Name }} <span class="nav-arrow">&#9662;</span>
          </a>
          <ul class="nav-dropdown-menu list pa0 ma0 absolute bg-white shadow-1">
            {{ range .Children }}
              <li>
                <a href="{{ .URL }}" class="link db pv2 ph3 no-underline dark-gray hover-bg-light-gray">{{ .Name }}</a>
              </li>
            {{ end }}
          </ul>
        </div>
      {{ else }}
        <a href="{{ .URL }}" class="link db pv2 ph3 no-underline dark-gray hover-mid-gray">{{ .Name }}</a>
      {{ end }}
    {{ end }}
  </div>
</nav>
